*{ margin:0px; padding:0px; list-style:none;text-decoration:none;}
.a{ width:1005px; height:114px; margin:auto; background:url(lgimg2/1405475053.jpg);}

.b{ width:1005px; height:30px;  margin:auto; text-align:center;}
  .b ul{ margin-left:3px;}
  .b ul li { width:99px; height:30px; border-left:1px solid #6796c4; background:#2266aa; float:left; line-height:30px;}
  .b ul li a{ font-size:9px; color:#EEEEEE; transition:1s;}
  .b ul li:hover{ display:block; width:99px; height:30px; background:#BBBBBB;color:#EE0000;}
  .b ul li:hover a { color:#EEEEEE;}
  
.c{ width:1005px; height:295px; margin:auto; margin-top:3px;}

.d{ width:1005px; height:479px; margin:auto; margin-top:5px;}
  #d1{ width:269px; height:478px; float:left;}
  #d11{ width:265px; height:377px; border:1px solid #2266aa;}
  #d111{ width:265px; height:28px; background:url(lgimg/bj3.png);}
  #d112{ width:264px; height:349px; font-size:9px; margin:20px;}
  #d112 ul li { display:block;width:235px; height:21px; background:url(lgimg/bj4.jpg);line-height:21px; border-bottom:1px dotted #e9e9e9; margin-top:5px;}
  #d112 ul li:hover a{ color:#EE0000; text-decoration:underline;}
  #d112 ul li a { color:#000;}
  #d112 ul li span{ display:block; margin-left:15px;}
  #d12{ width:265px; height:95px;margin-top:2px;}
  #d121{ width:265px; height:24px; background:url(lgimg/bj1.png); line-height:24px; color:#EEEEEE;}
  #d121 span{ display:block; margin-left:30px;}
  #d122 { width:264px; height:71px; border:1px solid #2266aa;}
  #d122 img { margin:20px;}
  #d122 ul li { float:left;}
  #d1221{ margin-top:25px;}
  #d2 { width:726px; height:476px;float:left; margin-left:8px;}
  #d21{ width:728px; height:294px;}
  #d211{ width:518px; height:294px;float:left; border-top:none;}
  #d2111{ width:518px; height:29px; background:url(lgimg/bj2.png)0 3px;line-height:29px; color:#EEEEEE;}
  #d2111 span{ margin-left:20px;}
  #d2112{ width:516px; height:263px; border:1px solid #e2e2e2;}
  #d21121{ width:205px; height:160px;float:left; margin-top:50px;}
  #d21122{ width:304px; height:249px;float:left; margin-left:4px; font-size:9px; line-height:20px;}
  #d212{ width:200px; height:294px;float:left; margin-left:6px;}
  #d2121{ width:185px; height:27px; background:url(lgimg/bj2.png); padding-left:15px; color:#eee; line-height:27px; float:left;}
  #d2121 span{ float:right; color:#000; font-size:9px; margin-right:10px;}
  #d2122{ width:199px; height:293px; border:1px solid #e2e2e2;}
  #d21221{ width:170px; height:245px; margin-top:40px; margin-left:13px;}
  #d21221 ul li { width:155px; height:25px; line-height:25px;border-bottom:1px dotted #e2e2e2; background:url(lgimg/bj4.jpg); font-size:9px; padding-left:15px;}
  #d22{ width:726px; height:175px;margin-top:8px;}
  #d221{ width:700px; height:28px; background:url(lgimg/bj2.png); padding-left:25px; line-height:28px; color:#eee; float:left;}
  #d221 span{ float:right; padding-right:10px; color:#000; font-size:9px;}
.e{ width:1005px; height:145px;margin:auto;background:url(lgimg2/1274162140.jpg) 0 -10px;}
  #e1{width:735px; height:115px;font-size:9px; margin:auto; text-align:center; padding-top:20px; line-height:30px;}



<!--Í¼Æ¬ÂÖ²¥js-->
*{margin:0;padding:0;}
.m-slider{width:200px;margin:0 auto 10px !important;}
#slider{width:100%; overflow:hidden;}
.m-slider .cnt{position:relative;left:0;width:2000%;}
.m-slider .cnt li{float:left;width:5%; height: 160px; overflow: hidden;}
.m-slider .cnt img{display:block;width:100%;height:450px;vertical-align:top;}
.m-slider .cnt p{margin:10px 0;}
.m-slider .icons{text-align:center;color:#000; position: relative; z-index: 999; margin-top: -20px;}
.m-slider .icons span{background: #fff; border-radius: 5px; box-shadow: 0 0 2px #b0b0b0 inset; display: inline-block; height: 10px; margin: 0 5px; overflow: hidden; text-indent: -99em; width: 10px;}
</style>


